<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wakemeup.ektoplasma.valou.wakemeup">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.SEND" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>

        <activity android:name=".InstanceActivity" android:label="WakeMeUp">

            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity android:name=".SignActivity" android:label="WakeMeUp" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".SearchActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisterActivity" android:label="WakeMeUp" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".LoginActivity" android:label="WakeMeUp" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".SettingsActivity"
            android:screenOrientation="nosensor">
            <intent-filer>
                <action android:name=".Preferences" />
                <category android:name="android.intent.cetagory.PREFERENCE" />
            </intent-filer>
        </activity>

        <service
            android:name=".AlarmService"
            android:enabled="true" />
        <receiver android:name=".AlarmReceiver" />
        <activity android:name=".YoutubeActivity"/><!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>
